:root{
    --primary: #b6895b;
    --bg: #010101;
}
body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif; 
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('../src/bg-logsign.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
}
.Brand{
    transition: all 400ms ease-in-out;
}
.Brand i{
    color: var(--primary);
}
.Brand p{
    color: #ffd;
}
.Brand p span{
    color: var(--primary);
}
.Brand:hover {
    transition: ease-in-out;
    filter: brightness(1.2);
    transform: scale(1.1);
}
.containt{
    width: 40%;
    height: 50vh;
    margin-top: 25vh;
    border-radius: 12px;
    color: white;
    border: 1px solid #C6A56D;
    background-color: #181a1b;
}
.form-container {
    max-width: 350px;
    width: 100%;
}
.descript{
    color: #fff;
}
.brandlog{
    margin-left: 2rem;
    margin-top: 27vh;
    height: 50vh;
}
.garis{
    height: 1px;
    background-color: gray;
}
#inputPassword6{
    border-right: 0;
}
.b-eye{
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.b-eye{
    border-left: 0;
}
.b-eye:hover{
    border: 1px 1px 1px 0 solid;
    color: var(--primary);
}
#exampleFormControlInput1, #username, #inputPassword6{
    background-color: #181a1b;
}
#exampleFormControlInput1::placeholder, #inputPassword6::placeholder{
    color: gray;
    opacity: 1;
}
#exampleFormControlInput1:focus, #inputPassword6:focus{
    background-color: #333333;
    color: #FFFFFF;
}
#exampleFormControlInput1:not(:placeholder-shown), #inputPassword6:not(:placeholder-shown){
    color: #FFFFFF;
}