:root{
    --primary: #b6895b;
    --bg: #010101;
}
body {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif; 
}
.Brand{
    color: #906b47;
}
.Brand:hover{
    color:#C6A56D;
    transition: 300ms;
}
.containt{
    width: 40%;
    height: 50vh;
    margin-top: 25vh;
    border-radius: 12px;
    color: white;
    border: 1px solid #C6A56D;
    background-color: #181a1b;
}
.form-container {
    max-width: 350px;
    width: 100%;
}
.descript{
    color: #fff;
}
.brandlog{
    margin-left: 2rem;
    margin-top: 27vh;
    height: 50vh;
}
.garis{
    height: 1px;
    background-color: gray;
}
.b-eye{
    background-color: white;
}
.b-eye:hover, .b-eye i:hover{
    background-color: gray;
}
#exampleFormControlInput1, #username, #inputPassword6{
    background-color: #181a1b;
}
#exampleFormControlInput1::placeholder, #inputPassword6::placeholder{
    color: gray;
    opacity: 1;
}
#exampleFormControlInput1:focus, #inputPassword6:focus{
    background-color: #333333;
    color: #FFFFFF;
}
#exampleFormControlInput1:not(:placeholder-shown), #inputPassword6:not(:placeholder-shown){
    color: #FFFFFF;
}