:root {
    --primary: #b6895b;
    --bg: #010101;
    --fc: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--fc);
    color: var(--fc);
    box-sizing: border-box;
}
.navbar {
    border-bottom: 1px solid #513c28;
}
.nav-item a {
    text-decoration: none;
    color: var(--fc);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}
.nav-item a:hover {
    color: var(--primary);
}
.nav-item a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--primary);
    transform: scaleX(0);
}
.nav-item a:hover::after {
    transform: scaleX(0.8);
    transition: 0.2s linear;
}
.Brand {
    transition: all 400ms ease-in-out;
}
.Brand i {
    color: var(--primary);
}
.Brand p {
    font-size: 1.3rem;
    color: #ffd;
}
.Brand p span {
    color: var(--primary);
}
.Brand:hover {
    transition: ease-in-out;
    filter: brightness(1.2);
    transform: scale(1.1);
}
.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
}
.navbar-solid {
    background-color: #000;
    transition: 0.3s ease;
}
.profile {
    border-radius: 25px;
}
.menu-body {
    background-color: var(--fc);
    color: var(--bg);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    padding: 1rem;
    width: 100%;
}

.bg-tohar {
    background-color: var(--fc);
}

.card-menu {
    font-weight: bold;
    border-radius: 10px;
}

.img-menu {
    border-radius: 10px;
    width: 40rem;
    height: 30rem;
}

.menu-headers {
    color: var(--bg);
    text-align: center;
}

select, .form-check-input {
    cursor: pointer;
}

.btn-mine {
    border: none;
    padding: 0.6rem;
    background-color: var(--primary);
    border-radius: 10px;
    width: 7rem;
}

.btn-mine:hover {
    color: var(--fc);
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-check-input {
    border-color: var(--primary);
}

.komponen {
    font-size: 0.9rem;
}

.harga {
    border-bottom: 1px dashed var(--bg);
}

.proses {
    border-top: 1px dashed var(--bg);
}
/* Media Queries */
@media (max-width: 985px){
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 768px){
}

@media (max-width: 450px){
    html {
        font-size: 55%;
    }
}