body{
    background-color: black;
}
.img-menu{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
}
.card-menu{
    background-color: rgb(226, 227, 229);
}
.Brand{
    font-family: Courier; 
    color:tan;
}
.Brand:hover{
    transition: ease-in-out;
    transition-delay: 200ms;
    color: rgb(255, 194, 7);
}