:root{
    --primary: #b6895b;
    --bg: #010101;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    box-sizing: border-box;
    color: #fff;
}
.navbar{
    border-bottom: 1px solid #513c28;
}
.nav-item a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}
.nav-item a:hover{
    color: var(--primary);
}
.nav-item a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--primary);
    transform: scaleX(0);
}
.nav-item a:hover::after{
    transform: scaleX(0.8);
    transition: 0.2s linear;
}
.Brand{
    transition: all 400ms ease-in-out;
}
.Brand i{
    color: var(--primary);
}
.Brand p{
    font-size: 1.3rem;
    color: #ffd;
}
.Brand p span{
    color: var(--primary);
}
.Brand:hover {
    transition: ease-in-out;
    filter: brightness(1.2);
    transform: scale(1.1);
}
.profile{
    width: 6rem;
    height: 6rem;
    border-radius: 50px;
}
.user{
    font-size: 1.5rem;
}
.container{
    background-color: var(--bg);
    border: 2px solid #513c28;
}
.prof-side{
    height: 50vh;
}
#email, #un{
    border: 1px solid var(--primary);
}