body {
    background-color: #202223;
}
.Brand{
    font-family: 'Courier New'; 
    color:tan;
}
.containt{
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    color: white;
    border: 3px solid #C6A56D;
    background-color: #181a1b;
}
.form-container {
    max-width: 350px;
    width: 100%;
}
.descript{
    font-family: 'Optima';
}
.brandlog{
    margin-top: 10vh;
}
.b-eye{
    background-color: white;
}
.b-eye:hover, .b-eye i:hover{
    background-color: gray;
}
#exampleFormControlInput1, #username, #inputPassword6{
    background-color: #181a1b;
}
#exampleFormControlInput1::placeholder, #username::placeholder, #inputPassword6::placeholder{
    color: gray;
    opacity: 1;
}
#exampleFormControlInput1:focus, #username:focus, #inputPassword6:focus{
    background-color: #333333;
    color: #FFFFFF;
}
#exampleFormControlInput1:not(:placeholder-shown), #username:not(:placeholder-shown), #inputPassword6:not(:placeholder-shown){
    color: #FFFFFF;
}