:root{
    --primary: #b6895b;
    --bg: #fff;
}
@keyframes scaleEffect {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    box-sizing: border-box;
}

.struk, .struk th, .struk tr, .struk td{
    border: none;
}

tr:nth-child(5), tr:nth-child(10){
    border-bottom: 1px dashed black;
}

td:nth-child(2) {
    text-align: end;
}
