/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container utama */
.container {
    display: flex;
    transition: margin-left 0.3s ease;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    transform: translateX(-100%);
    /* Secara default sidebar disembunyikan */
}


.sidebar.active {
    transform: translateX(0);
    /* Sidebar ditampilkan */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.main-content h1 {
    font-size: 36px;
}

.main-content p {
    font-size: 18px;
}

/* Button Toggle */
.toggle-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 20;
}

.toggle-btn:hover {
    background-color: #34495e;
}

